*{
  margin:0;
  padding: 0;
}

body{
  background-color: black;
  background-size: cover;
}

/*Star Wars HomePage*/
.Title-API{
  color: transparent;
  font-family: Poppins;
  -webkit-text-stroke: 1px  #FFE81F;
  font-weight: 1000;
  font-size: 10rem;
  text-align: center;
  padding-top: 0px;
}

.ButtonClass{
  text-align: center;
}

.Button-API{
  background-color: #FFE81F;
  margin-top: 1rem;
  margin-bottom: 1re,;
  padding: 15px;
  border-radius: 0.4rem;
  opacity: 0.95;
}

.Button-API:hover{
  opacity: 1;
}

.Link-API{
  text-decoration: none;
  font-family: Jura;
  font-size: 1.2rem;
  font-weight: 900;
  color:black;
}

.png1{
  float: top;
  position: relative;
  width: 8%;
  padding-top: 8vh;
  padding-right: 0.5vw;
  padding-left: 30.5vw;
  padding-bottom: 0vh;
}

.png2{
  float: top;
  position: relative;
  width: 6%;
  padding-top: 8vh;
  padding-bottom: 0vh;
}

.png3{
  float: top;
  position: relative;
  width: 5.5%;
  padding-top: 8vh;
  padding-left: 1vw;
  padding-bottom: 0vh;
}

.png4{
  float: top;
  position: relative;
  width: 7%;
  padding-top: 8vh;
  padding-left: 1vw;
  padding-bottom: 0vh;
}

.png5{
  float: top;
  position: relative;
  width: 9%;
  padding-top: 8vh;
  padding-left: 0.3vw;
  padding-bottom: 0vh;
}

/*Star Wars NextPage*/
.NavBar{
    list-style-type: none;
    background-color: black;
}

.CharacterProfile{
  font-family: Poppins;
  font-weight: 400;
  font-size: 2rem;
  color: #FFE81F;
  margin-top: 2.5vh;
  margin-left: 4vw;
  margin-bottom: 0;
  float: left;
}

.Button-API1{
  background-color: #FFE81F;
  margin-top: 2vh;
  margin-right: 1.5vw;
  margin-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0.4rem;
  opacity: 0.95;
  float: right;
}

.Button-API1:hover{
  opacity: 1;
}

.Link-API1{
  text-decoration: none;
  font-family: Jura;
  font-size: 1.2rem;
  font-weight: 900;
  color:black;
}

.CharacterList{
  margin-top: 2vh;
  margin-left: 4vw;
  padding-top: 17vh;

}

.CharacterList1{
  font-family: Jura;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #8ED8FC;
  list-style-type: none;
}

.CharacterList2{
  display: inline-block;
  padding-right: 12.5%;
}
